#jumb_h{
    font-family: 'Roboto', sans-serif;
    color: #35113a;
}

.lead{
    color: #35113a;
}

#title_h{
    padding-top: 50px;
}

#gra{
    text-align: center;
    
}
#logo_pic{
    border-radius: 50%;
    display: inline-block;
    width: 200px;
    height: 200px;
}
.gpa_last{
    text-align: center;
    align-items: center;
    display: block;
    padding-left: 50px;
    padding-right: 20px;
}
.query{
    padding-top: 20px;
}
.quest{
    text-align: center;
}

.wrapper{
    text-align: center;
    padding-top: 20px;
}
.next_btn{
    position: absolute;
    
    }
.sidel .sider{
    background: #35113a;
    height: 100%;
    min-height: 100px;
    display: inline;
}

